body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url("https://img.freepik.com/vetores-gratis/fundo-realista-de-luzes-de-neon_23-2148897041.jpg");
  background-color: #000000;
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2em #f00afe;
  border-radius: 5px;
  width: 350px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  color: ;
  font-size: 18px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.moedaUm, .moedaDois {
  display: flex
}

.tipo {
  display: block;
  text-shadow: 2px 2px #ff0000;
  color: whitesmoke;
}

.tipoMoedaUm, .tipoMoedaDois {
  margin: 20px;
  border-radius: 10px;
  padding: 0.75rem;
  cursor: pointer;
  background-color: #fff;
}

#valorMoedaUm {
  width: 12rem;
  color: rgb(35, 35, 35);
  padding: 0.75rem;
  border-radius: 20px;
}

#valorMoedaDois {
  background-color: white; 
  width: 12rem;
  padding: 0.75rem;
  border-radius: 20px;
}

#valorMoedaUm::-webkit-inner-spin-button {
   -webkit-appearance: none;
}


button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #f5e1f7, #ee6cf7);
  box-shadow: 0 0 0.5em #f00afe;
}

button:hover {
  transform: translateY(-0.25em);
}
